%div.table
- if @bid.id?
  - property_id = @bid.property.id
  - property_address = @bid.property.address
  - property_city = @bid.property.city
  - property_sqft = @bid.property.sqft
  - property_state_id = @bid.property.state_id
  - property_country_id = @bid.property.country_id
- else
  - property_id = 0
  - property_address = ''
  - property_city = ''
  - property_sqft = ''
  - property_state_id = 6
  - property_country_id = 226

-if @bid.clients.size > 0
  - client_id = @bid.clients.first.id
  - client_first_name = @bid.clients.first.first_name
  - client_last_name = @bid.clients.first.last_name
  - client_phone = @bid.clients.first.phone
  - client_email = @bid.clients.first.email
- else
  - client_id = 0
  - client_first_name = ''
  - client_last_name = ''
  - client_phone = ''
  - client_email = ''

-if @bid.realtors.size > 0
  - realtor_id = @bid.realtors.first.id
  - realtor_first_name = @bid.realtors.first.first_name
  - realtor_last_name = @bid.realtors.first.last_name
- else
  - realtor_id = 0
  - realtor_first_name = ''
  - realtor_last_name = ''

= form_tag('/bids/step1proc') do 
  %div.table_row 
    %div.table_cell.table_title= "Property:"
    = hidden_field :property, :id, :value => property_id
    - if @bid.id?
      = hidden_field :bid, :id, :value => @bid.id
  %div.table_row
    %div.table_cell= "Address"
    %div.table_cell{ :id => "prop_addr" }= text_field :property, :address, :value => property_address
  %div.table_row
    %div.table_cell= "City"
    %div.table_cell= select :property, :city, @cities, :selected => property_city
  %div.table_row
    %div.table_cell= "Square Feet"
    %div.table_cell= text_field :property, :sqft, :value => property_sqft
  %div.table_row
    %div.table_cell
      &nbsp;
  %p= hidden_field :property, :state_id, :value => property_state_id
  %p= hidden_field :property, :country_id, :value => property_country_id 
  %div.table_row  
    %div.table_cell.table_title= "Client:"
    = hidden_field :client, :id, :value => client_id
  %div.table_row
    %div.table_cell= "First Name"
    %div.table_cell= text_field :client, :first_name, :value => client_first_name
    %div.table_cell= "Last Name"
    %div.table_cell= text_field :client, :last_name, :value => client_last_name
  %div.table_row 
    %div.table_cell= "Phone"
    %div.table_cell= phone_field :client, :phone, :value => client_phone
    %div.table_cell= "Email"
    %div.table_cell= email_field :client, :email, :value => client_email
  %div.table_row
    %div.table_cell
      &nbsp;
  %div.table_row 
    %div.table_cell.table_title= "Realtor:"
    = hidden_field :realtor, :id, :value => realtor_id
  %div.table_row
    %div.table_cell= "First Name"
    %div.table_cell= text_field :realtor, :first_name, :value => realtor_first_name
    %div.table_cell= "Last Name"
    %div.table_cell= text_field :realtor, :last_name, :value => realtor_last_name
  %div.table_row 
    %div.table_cell
      =submit_tag "Next >" 
