= form_for @realtor do |f|
  - if @realtor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@realtor.errors.count, "error")} prohibited this realtor from being saved:"
      %ul
        - @realtor.errors.full_messages.each do |msg|
          %li= msg
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_first_name_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "First Name"}
            First name:
          %div.col-xs-5
            =f.text_field :first_name, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_last_name_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Last Name"}
            Last name:
          %div.col-xs-5
            =f.text_field :last_name, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_company_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Company"}
            Company:
          %div.col-xs-5
            =f.text_field :company, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_phone_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Phone"}
            Phone:
          %div.col-xs-5
            =f.text_field :phone, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_email_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Email"}
            Email:
          %div.col-xs-5
            =f.text_field :email, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_created_at_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Created At"}
            Created At:
          %div.col-xs-5
            =f.datetime_select :created_at, :class => "form-control"
  %div.row
    %div.col-xs-12
      %div.form-group.has-feedback{ :id => "realtor_updated_at_group"}
        %div.col-xs-12
          %span.help-block
          %label.col-xs-2.control-label{ :for => "Updated At"}
            Updated At:
          %div.col-xs-5
            =f.datetime_select :updated_at, :class => "form-control"  
  %div.row
    %div.col-xs-12
      %div.col-xs-12
        .actions
        = f.submit 'Save'