%p#notice= notice
%div.panel.panel-default
  %div.panel-heading
    ="Details for #{@property.address}, #{@property.city}"
  %div.panel-body
    %table.table.table
      %thead
        %tr
        %th
        %th
          Address
        %th
          City
        %th
          State
        %th
          Square Feet
        %th
          Status
        %th
          Listing Price
        %th
          Selling Price
        %th
          Estimated Closing Date
      %tbody
        %tr
          %td=@property.id
          %td=@property.address
          %td=@property.city
          %td=@property.state.abbrev
          %td=@property.sqft
          %td=@property.status.status
          %td=@property.listing_price
          %td=@property.selling_price
          %td=@property.est_closing_date
    = link_to 'Edit Property', edit_property_path(@property)
    \|
    = link_to 'Back', properties_path

- if @property.bids.size > 0
  %div.panel.panel-default
    %div.panel-heading
      ="Bids for #{@property.address}, #{@property.city}"
    %div.panel-body
      %table.table.table-striped
        %thead
          %tr
            %th
              ID
            %th
              Date
            %th
              Staging Fee
            %th
              Distribution Fee
            %th
              Rental
            %th
              Rental Weekly
            %th
              Weeks Included
            %th
              Rental Monthly
            %th
              Discount Percent
            %th
              Discount Amount
        - @property.bids.each do |bid|
          %tbody
            %tr
              %td=bid.id
              %td=bid.bid_date.strftime("%m/%d/%Y") if bid.bid_date
              %td=number_to_currency(bid.staging_fee)
              %td=number_to_currency(bid.distribution_fee)
              %td=number_to_currency(bid.rental)
              %td=number_to_currency(bid.rental_weekly)
              %td=bid.weeks_included
              %td=number_to_currency(bid.rental_monthly)
              %td=bid.discount_percent
              %td=number_to_currency(bid.discount_amount)
              %td
                =link_to 'Edit', "/bids/step1/#{bid.id}"

    

