%div.panel.panel-default
  %div.panel-heading
    Listing Clients
  %div.panel-body
    %table.table.table-striped
      %thead
        %tr
          %th
            First name
          %th 
            Last name
          %th 
            Address
          %th 
            Phone
          %th 
            Email
          %th
            Created at
          %th 
            Updated at
          %th
          %th
          %th
      %tbody
      - @clients.each do |client|
        %tr
          %td= client.first_name
          %td= client.last_name
          %td= client.address
          %td= client.phone
          %td= client.email
          %td= client.created_at.strftime("%m/%d/%Y")
          %td= client.updated_at.strftime("%m/%d/%Y")
          %td
            = link_to 'Show', client
            %span.glyphicon.glyphicon-eye-open
          %td
            = link_to 'Edit', edit_client_path(client)
            %span.glyphicon.glyphicon-pencil
          <!-- %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' } -->
    %br
    = link_to 'New Client', new_client_path
    %span.glyphicon.glyphicon-plus
