%p#notice= notice
%div.panel.panel-default
  %div.panel-heading
    ="Details for Client #{@client.first_name} #{@client.last_name}"
  %div.panel-body
    %table.table.table
      %tr
        %th
          First Name
        %th
          Last Name
        %th
          Address
        %th
          Phone
        %th
          Email
        %th
          Created At
        %th
          Updated At
      %tr
        %td= @client.first_name
        %td= @client.last_name
        %td= @client.address
        %td= @client.phone
        %td= @client.email
        %td= @client.created_at
        %td= @client.updated_at
    = link_to 'Edit', edit_client_path(@client)
    \|
    = link_to 'Back', clients_path
