= #debug current_user.business_id
= form_tag('/home/find_bids') do 
  %div.table
    - if @bids
      %div.table_row
        %div.table_cell
          = "Please select which bid for #{@property.address}, #{@property.city}:"
          %br
          - @bids.each do |bid|
            = radio_button_tag 'bid', bid.id
            = "Staging fee: #{bid.staging_fee}, Distribution Fee: #{bid.distribution_fee}"
            %br
          = submit_tag "Go" 
    - else
      %div.table_row
        %div.table_cell
          = link_to 'Create a Bid','/bids/step1'
      %div.table_row
        %div.table_cell      
          or
      %div.table_row
        %div.table_cell
          Change a bid
      %div.table_row           
        %div.table_cell= "Property Address:"
        %div.table_cell
          %input{ :type => "text", :id => "prop_addr", :name => "property[address]" }
          %input{ :type => "hidden", :id => "prop_id", :name => "property[id]", :value => '0' }
        %div.table_cell= submit_tag "Go" 

