%div.row
  %div.col-xs-12
    = #debug current_user.business_id
    %form{ :action => "/home/find_bids", :method => "post", :class => "form", :role => "form"}
      =hidden_field_tag :authenticity_token, form_authenticity_token
      - if @bids
        %div.row
          %div.col-xs-12
            %div.panel.panel-default
              %div.panel-heading
                = "Please select which bid for #{@property.address}, #{@property.city}:"
              %div.panel-body              
                %div.form-group.has-feedback{ :id => "home_form_choose_prop_group"}
                  - @bids.each do |bid|
                    %div.col-xs-12
                      %div.radio.form-control
                        = radio_button_tag 'bid', bid.id
                        = "Staging fee: $#{bid.staging_fee}, Distribution Fee: $#{bid.distribution_fee}, Rental Weeks: #{bid.weeks_included}, "
                  %span.help-block
                %div.form-group
                  %div.col-xs-6
                    %button{ :class => "home_form_choose_property_button", :name => "Save", :type => "button", :id => "home_choose_property_go_button" }Next >
      - else
        %div.row
          %div.col-xs-3
            %div.panel.panel-default
              %div.panel-heading
                Create a New Bid
              %div.panel-body
                %p
                  Click on the button below to create a new bid
                %p
                  %a{ :class => "btn btn-primary btn-sm", :href => "/bids/step1", :role => "button", :value => "here"}
                    Start Bid
          %div.col-xs-9
            %div.panel.panel-default
              %div.panel-heading
                Change or Duplicate an Existing Bid
              %div.panel-body
                %div.form-group
                  %div.col-xs-12
                    %div.col-xs-11
                      %div.radio
                        = radio_button_tag 'bid_option','change_bid', true
                        Change a bid
                    %div.col-xs-11
                      %div.radio
                        = radio_button_tag 'bid_option','duplicate_same_property'
                        Duplicate a bid for the same property (create a new bid for the same property)
                    %div.col-xs-11
                      %div.radio
                        = radio_button_tag 'bid_option','duplicate_new_property'
                        Duplicate a bid for a new property (use an old bid as a template to bid on a new property)
                %div.form-group.has-feedback{ :id => "home_form_prop_addr_group"}
                  %div.col-xs-11
                    %label.control-label{ :for => "Property Address"}
                      Address:
                  %div.col-xs-11
                    %input.form-control{ :type => "text", :id => "prop_addr", :name => "property[address]"}
                    %span.help-block
                    %input{ :type => "hidden", :id => "prop_id", :name => "property[id]", :value => '0' }
                    %button{ :class => "home_form_button", :name => "Save", :type => "button", :id => "home_go_button" }Go
        %div.row
          %div.col-xs-12
            %div.panel-heading
              Active Stages
            %div.panel-body
              %table.table.table-striped
                %thead
                  %tr
                    %th
                      ID
                    %th
                      Address
                    %th
                      Status
                    %th
                      Date of Stage
                    %th
                      Total
                    %th
                      Rent 
                    %th            
                %tbody
                - stage_number = 0
                - @active_stages.each do |stage|
                  - stage_number += 1
                  %tr
                    %td=stage_number
                    %td="#{stage.property.address}, #{stage.property.city}"
                    %td=stage.property.status.status if stage.property.status_id
                    %td=stage.stage_date.strftime("%m/%d/%Y") if stage.stage_date
                    %td=number_to_currency(stage.total)
                    %td=number_to_currency(stage.rent)
                    %td
                      = link_to 'Edit', "/stages/edit/#{stage.id}"
                      %span.glyphicon.glyphicon-pencil

