= #debug current_user.business_id
= form_tag('/home/find_bids') do 
  %div.table
    - if @bids
      %div.table_row
        %div.table_cell
          = "Please select which bid for #{@property.address}, #{@property.city}:"
          %br
          - @bids.each do |bid|
            = radio_button_tag 'bid', bid.id
            = "Staging fee: #{bid.staging_fee}, Distribution Fee: #{bid.distribution_fee}"
            %br
          = submit_tag "Go" 
    - else
      %div.table_row
        %div.table_cell
          = link_to 'Create a Bid','/bids/step1'
      %div.table_row
        %div.table_cell      
          or
      %div.table_row
        %div.table_cell
          = radio_button_tag 'bid_option','change_bid', true
          Change a bid
      %div.table_row
        %div.table_cell
          = radio_button_tag 'bid_option','duplicate_same_property'
          Duplicate a bid for the same property (create a new bid for the same property)
      %div.table_row
        %div.table_cell
          = radio_button_tag 'bid_option','duplicate_new_property'
          Duplicate a bid for a new property (use a old bid as a template to bid on a new property)
      %div.table_row           
        %div.table_cell= "Property Address:"
      %div.table_row
        %div.table_cell
          %input{ :type => "text", :id => "prop_addr", :name => "property[address]" }
          %input{ :type => "hidden", :id => "prop_id", :name => "property[id]", :value => '0' }
          = submit_tag "Go" 

