%p#notice= notice
%div.panel.panel-default
  %div.panel-heading
    ="Details for Stage of #{@stage.property.address} #{@stage.property.city}"
  %div.panel-body
    %table.table.table
      %tr
        %th
          Date of Stage
        %th
          Amount
        %th
          Rent
        %th
          De-stage Date
      %tr
        %td=@stage.stage_date.strftime("%m/%d/%Y") if @stage.stage_date
        %td=number_to_currency(@stage.total)
        %td=number_to_currency(@stage.monthly_rental)
        %td=@stage.destage_date.strftime("%m/%d/%Y") if @stage.destage_date

= link_to 'Edit', edit_stage_path(@stage)
\|
= link_to 'Back', stages_path
