<!DOCTYPE html>
%html
  %head
    %title 
      Bid Buddy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    %div.container{ :id => "main_container" }
      %div.row
        %div.col-xs-12
          %div.page-header
            %h3
              = link_to "#{ApplicationController.business.name} Bid Buddy", "/"
      %div.row
        %div.col-xs-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert alert-#{name}"
      = yield
