<!DOCTYPE html>
%html
  %head
    %title 
      Bid Buddy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
  %body
    %nav.navbar.navbar-default
      %div.navabar-header
        %a.navbar-brand{ :href => "/" }
          ="#{ApplicationController.business.name} Bid Buddy"
      %div.collapse.navbar-collapse{ :id => "navbar-collapse-1" }
        %ul.nav.navbar-nav
          %li
            %a{ :href => "/properties" }
              Properties
          %li
            %a{ :href => "/bids" }
              Bids
          %li
            %a{ :href => "/stages" }
              Stages
          %li
            %a{ :href => "/rents" }
              Rent
          %li
            %a{ :href => "/clients" }
              Clients
          %li
            %a{ :href => "/realtors" }
              Realtors
          %li
            %a{ :href => "/items" }
              Items
          %li
            %a{ :href => "/rooms" }
              Rooms
          %li
            %a{ :href => "/template_room_items" }
              Room Items
    %div.container{ :id => "main_container" }
      %div.row
        %div.col-xs-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert alert-#{name}"
      = yield
