<!DOCTYPE html>
%html
  %head
    %title 
      Bid Buddy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    %h1
      = link_to "#{ApplicationController.business.name} Bid Buddy", "/"
    %p.notice
      = notice
    %p.alert
      = alert

    = yield
